@using Veer.Models
@model List<Products>
@{
    ViewData["Title"] = "Cart";
}

<h1>Your Cart</h1>

<br />
<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Product Type</th>
                <th>Color</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Item in Model)
            {
                <tr>
                    <td>
                        <img src="~/@Item.Image" width="200px" height="150px" />
                    </td>
                    <td>@Item.Name</td>
                    <td>@Item.Price</td>
                    <td>@Item.ProductTypes.ProductType</td>
                    <td>@Item.ProductColor</td>
                    <td>
                        <a asp-area="Customer" asp-action="Remove" asp-controller="Home" asp-route-id="@Item.Id" class="btn btn-danger">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-6">
        <a asp-action="Index" asp-controller="Home" class="btn btn-success">Back to Home</a>
    </div>
    <div class="col-6 text-right">
        <h3>Total Amount</h3>
        <h3>Grand Total: @Model.Sum(c=>c.Price)</h3>
        <a asp-area="Customer" asp-action="Checkout" asp-controller="Order" class="btn btn-primary">Proceed to Checkout
            </a>
        </div>
</div>